
<div class="background-img">
  <div class="navbar top-header row"> 
  <div class="helpers right">
    <span class="site-logo"></span>
  
    <h6>ההזדהות הלאומית</h6>
  </div>
<div class="helpers left"> 
  <div class="btn-group" dropdown>
    <span class="lang-icon"></span>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="dropdown-basic">
      {{selectedLanguage}} <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li *ngFor="let lang of languages" role="menuitem" (click)="SelectLang(lang)"><a class="dropdown-item" href="#">{{lang}}</a></li>
    </ul>
  </div>
  <div class="helpers">
    <span class="help-icon"></span>
    עזרה
  </div>
  </div>
<div>
</div>
</div>
  <div class="inner">
      <div class="row">
        <h1>הרשמה למערכת ההזדהות הממשלתית</h1>
        <h2>הרשמה חד פעמית תאפשר לך גישה לשירות המבוקש ולשירותים נוספים מבלי לצאת מהבית</h2>
        <h2 class="light">שמירה על פרטיות המידע שלך נמצאת בראש סדר העדיפויות שלנו. אפשרויות הרשמה אלו הן המאובטחות ביותר</h2>
        <div class="row"><br/></div>
        <div class="row"><p>נרשמת כבר?  <a target="new" href="https://www.gov.il/">כניסה לשירות</a></p></div>
      </div>
      <div class="row">
          <app-option-card *ngFor="let card of cards" class="col-12 col-md-6" [cardData]="card"></app-option-card>
      </div>
      <div class="row">
          <app-bottom-card class="col-12"></app-bottom-card>
      </div>
  </div> 
</div>